body{
    background-image: url(../IMAGES/pizza.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#size{
    background-color: rgba(255, 255, 255, 0.572);
    color: black;
}
#phone{
    background-color: rgba(255, 255, 255, 0.572);
    color: black;
}
#email{
    background-color: rgba(255, 255, 255, 0.572);
    color: black;
}